$background: #06132d;
/*Header*/
$headerTextButtonColor: #cccc;
$headerContainButtonColor: #fff;
$headerContainButtonColorActive: #fff;

/*Herosection*/
$HeroSectionColor: #fff;

/*Accordion*/
$AccordionPanelColor: #fff;
$AccordionPanelBackgroundColor: #0e1e45;

/*Buttons*/
$ButtonsColor: #fff;
$ButtonsBackgroundColor: #1f75ff;
