$background: #06132d;

$headerTextButtonColor: #ccc;
$headerContainButtonColor: #fff;
$headerContainButtonColorActive: #fff;
$HeroSectionColor: #fff;
$AccordionPanelColor: #fff;
$CategoryTextButtonColor: #ccc;
$CategoryBackgroundColor: #0e1e45;
