/*Header*/
/*Herosection*/
/*Accordion*/
/*Buttons*/
@media only screen and (max-width: 600px) {
  .header-wrapper {
    width: fit-content;
  }
  .header-wrapper .MuiContainer-root {
    display: inline-flex;
  }
  .subscription-container {
    margin-top: 160px;
    margin-bottom: 160px;
    width: max-content;
    height: 456px;
    display: inline-flex !important;
    justify-content: center;
  }
}

html {
  background-color: #06132d;
  color: #06132d;
}

/*Header*/
.header-wrapper {
  width: 1232px;
}

.header-wrapper .MuiButtonBase-root {
  padding: 0;
  color: #cccc;
}

.header-wrapper .MuiButtonBase-root.active {
  color: #fff;
}

.header-wrapper .logo {
  margin-right: auto;
  width: 161px;
  height: 32px;
}

.MuiGrid-root {
  margin-left: auto;
}

.MuiTypography-root {
  color: #fff;
  margin-right: auto;
}

/*Herosection*/
.hero-section-stack {
  margin-top: 40px;
  margin-bottom: 120.68px;
}

.hero-section-stack .MuiButtonBase-root {
  color: #fff;
  border-color: #fff;
}

.hero-section-wrapper {
  color: #fff;
}

/*Category*/
.category-wrapper {
  margin-top: 24px;
  padding-left: 0%;
}

.category-wrapper .MuiChip-label {
  padding-left: 5px;
  padding-right: 5px;
}

.category-wrapper .MuiChip-root {
  color: #cccc;
  margin-right: 16px;
  margin-left: 0px;
  margin-top: 16px;
  font-size: 11px;
  border-radius: 8px;
  background-color: #0e1e45;
  border-color: transparent;
}

/*Owner*/
.owner-wrapper {
  margin-top: 40px;
  margin-bottom: 24px;
}

/*Buttons*/
.MuiButtonBase-root {
  padding: 16px 40px;
  width: 166px;
  height: 64px;
  color: #fff;
}

.MuiButtonBase-root.MuiButton-containedSecondary {
  padding: 12px 32px;
  color: #fff;
}

.more-works {
  margin-bottom: 56px;
  margin-top: 80px;
}

.more-works .MuiButtonBase-root {
  margin-left: auto;
}

/*Lastprice*/
.lastprice-wrapper {
  margin-top: 4px;
  margin-bottom: 40px;
}

.lastprice-wrapper .price-location {
  margin-top: 16px;
}

/*Accordion*/
.css-xteuvn-MuiStack-root {
  margin-bottom: 80px;
  margin-left: 104px;
}

.MuiPaper-root {
  border-radius: 16px;
  background-color: #0e1e45;
  width: 604px;
}

.MuiPaper-root.MuiAccordion-root {
  border-radius: 8px;
  background-color: #0e1e45;
}

.MuiPaper-root .MuiButtonBase-root {
  background-color: #0e1e45;
  width: 604px;
  border-radius: 8px;
}

/*NFT*/
.user-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.nft-image {
  width: 368px;
  height: 354px;
  border-radius: 16px;
  padding: 16px;
}

.nft-bid {
  width: 368px;
  color: #fff;
}

.MuiCard-root .MuiButtonBase-root {
  width: 400px;
  height: 64px;
  border-radius: 8px;
  color: #fff;
}

.MuiCard-root .MuiButtonBase-root.nft-btn {
  width: 368px;
  background-color: #1f75ff;
}

/*Footer*/
.footer-wrap {
  max-width: 1218px;
  max-height: 312px;
  display: flex;
}

.footer-wrap .MuiContainer {
  width: 500px;
  height: 148px;
}

.footer-wrap .MuiContainer .logo {
  width: 161px;
  height: 32px;
}

.footer-wrap .css-82xd8s-MuiStack-root {
  margin-top: 130px;
}

.footer-wrap .css-82xd8s-MuiStack-root .MuiButtonBase-root {
  font-weight: 400;
}

.footer-wrap .MuiTypography-root {
  margin-top: 41px;
  font-weight: 400;
}

.footer-wrap .MuiBox-root {
  padding-left: 108px;
  font-size: 16px;
  width: 500px;
  height: 84px;
}

.footer-wrap .MuiBox-root .header {
  font-size: 22px;
  width: 160px;
  height: 32px;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 700;
}

.footer-wrap .MuiButtonBase-root {
  color: #fff;
  margin-right: auto;
  font-size: 16px;
  height: 28px;
  margin-top: 8px;
  padding: 0px;
  font-weight: 400;
}

/*Subscription*/
.subscription-container {
  margin-top: 160px;
  margin-bottom: 160px;
  width: 1232px;
  height: 456px;
  background-color: #003385;
  display: flex !important;
  justify-content: center;
}

.subscription-container .MuiBox-root {
  height: 100%;
  max-width: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscription-container .MuiBox-root .MuiFormControl-root {
  margin-top: 32px;
  height: 56px;
  width: 513px;
}

.subscription-container .MuiBox-root .MuiFormControl-root .MuiFormLabel-root {
  color: white;
}

.subscription-container .MuiBox-root .MuiButtonBase-root {
  height: 56px;
  width: 143px;
  background-color: #1f75ff;
  color: #fff;
  margin-top: 32px;
}

.subscription-container .MuiBox-root .MuiTypography-root.MuiTypography-h3 {
  font-size: 48px;
  font-weight: 700;
}

.subscription-container .MuiBox-root .MuiTypography-root.MuiTypography-h5 {
  font-size: 16px;
}
