html {
  background-color: #06132d;
  color: #06132d;
}

/*Header*/
.header-wrapper .MuiButtonBase-root {
  padding: 0;
  color: #ccc;
}

.header-wrapper .MuiButtonBase-root.active {
  color: #fff;
}

.header-wrapper .logo {
  margin-right: auto;
}

.MuiGrid-root {
  margin-left: auto;
}

/*more-works*/
.more-works {
  margin-bottom: 56px;
}

.more-works .MuiButtonBase-root {
  margin-left: auto;
}

.MuiTypography-root {
  color: #fff;
  margin-right: auto;
}

/*hero-section*/
.hero-section-stack {
  margin-top: 40px;
}

.hero-section-wrapper {
  color: #fff;
  margin-bottom: 120.68px;
}

.hero-section-wrapper .MuiButtonBase-root {
  color: #fff;
}

/*Category*/
.category-wrapper {
  margin-top: 24px;
  padding-left: 0;
}

.category-wrapper .MuiChip-root {
  color: #ccc;
  margin-right: 16px;
  margin-left: 0px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #0e1e45;
  border-color: transparent;
}

/*Owner*/
.owner-wrapper {
  margin-top: 40px;
  margin-bottom: 24px;
}

/*Buttons*/
.MuiButtonBase-root {
  padding: 16px 40px;
  width: 166px;
  height: 64px;
  color: #fff;
}

.MuiButtonBase-root.MuiButton-containedSecondary {
  padding: 12px 32px;
  color: #fff;
}

.lastprice-wrapper {
  margin-top: 4px;
  margin-bottom: 40px;
}

.lastprice-wrapper .price-location {
  margin-top: 16px;
}

/*Accordion*/
.css-xteuvn-MuiStack-root {
  margin-bottom: 80px;
}

.css-xteuvn-MuiStack-root .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
  border-radius: 16px;
  background-color: #0e1e45;
}

.css-xteuvn-MuiStack-root .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  background-color: #0e1e45;
  width: 604px;
  border-radius: 8px;
}

/*NFT*/
.user-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.nft-image {
  width: 368px;
  height: 354px;
  border-radius: 16px;
  padding: 16px;
}

.nft-bid {
  color: #cccccc;
}

.MuiPaper-root .MuiButtonBase-root {
  width: 368px;
  height: 64px;
  border-radius: 8px;
  color: #cccccc;
}

.MuiPaper-root .MuiButtonBase-root.nft-btn {
  background-color: "#1F75FF";
}

/*Footer*/
.footer-wrap {
  max-width: 1218px;
  max-height: 312px;
  display: flex;
}

.footer-wrap .MuiContainer {
  width: 500px;
  height: 148px;
}

.footer-wrap .MuiContainer .logo {
  width: 161px;
  height: 32px;
}

.footer-wrap .MuiStack-root {
  margin-top: 130px;
}

.footer-wrap .MuiTypography-root {
  margin-top: 41px;
}

.footer-wrap .MuiBox-root {
  padding-left: 108px;
  font-size: 16px;
  width: 500px;
  height: 84px;
}

.footer-wrap .MuiBox-root .header {
  font-size: 22px;
  width: 160px;
  height: 32px;
  margin-bottom: 16px;
  margin-top: 0;
}

.footer-wrap .MuiButtonBase-root {
  color: white;
  margin-right: auto;
  font-size: 16px;
  height: 28px;
  margin-top: 8px;
  padding: 0px;
}

/*Subscription*/
.subscription-container {
  margin-top: 160px;
  margin-bottom: 160px;
  width: 1232px;
  height: 456px;
  background-color: #003385;
  display: flex !important;
  justify-content: center;
}

.subscription-container .MuiBox-root {
  height: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscription-container .MuiBox-root .MuiFormControl-root {
  margin-top: 32px;
  height: 56px;
  width: 513px;
}

.subscription-container .MuiBox-root .MuiFormControl-root .MuiFormLabel-root {
  color: white;
}

.subscription-container .MuiBox-root .MuiButtonBase-root {
  height: 56px;
  width: 143px;
  background-color: #1f75ff;
  color: white;
  margin-top: 32px;
}

.subscription-container .MuiBox-root .MuiTypography-root.MuiTypography-h3 {
  font-size: 48px;
}

.subscription-container .MuiBox-root .MuiTypography-root.MuiTypography-h5 {
  font-size: 16px;
}
